button {
    display: block;
    margin: 50px auto;
}

.container {
    width: 40vw;
    height: 40vh;

    margin: auto;
}

.rowDiv {
    display: flex;
}

.gridDiv {
    flex: 1;

    aspect-ratio: 1;

    margin: 1px;

    border: 1px solid black;

    opacity: 0;
}